@{
    Layout = "";
}

<!DOCTYPE html>
<html lang="pt-br">

<head>

    <meta charset="UTF-8">
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>[Lobber] Login</title>
    <link rel="icon" href="/images/brand-logos/favicon.ico" type="image/x-icon">
    <script src="/js/authentication-main.js"></script>
    <link id="style" href="/libs/bootstrap/css/bootstrap.min.css" rel="stylesheet" >
    <link href="/css/styles.min.css" rel="stylesheet" >
    <link href="/css/icons.min.css" rel="stylesheet" >

</head>

<body>
    <div class="container-fluid custom-page">
        <div class="row bg-white">
            <!-- The image half -->
            <div class="col-md-6 col-lg-6 col-xl-7 d-none d-md-flex bg-primary-transparent-3">
                <div class="row w-100 mx-auto text-center">
                    <div class="col-md-12 col-lg-12 col-xl-12 my-auto mx-auto w-100">
                        <img src="/images/logo/Lobber.jpeg"
                            class="my-auto ht-xl-80p wd-md-100p wd-xl-80p mx-auto" alt="logo">
                    </div>
                </div>
            </div>
            <!-- The content half -->
            <div class="col-md-6 col-lg-6 col-xl-5 bg-white py-4">
                <div class="login d-flex align-items-center py-2">
                    <!-- Demo content-->
                    <div class="container p-0">
                        <div class="row">
                            <div class="col-md-10 col-lg-10 col-xl-9 mx-auto">
                                <div class="card-sigin">
                                    <div class="mb-5 d-flex">
                                        <a href="index.html" class="header-logo">
                                            <img src="/images/logo/Lobber.jpeg" class="desktop-logo ht-40" alt="logo">
                                            <img src="/images/logo/Lobber.jpeg" class="desktop-white ht-40" alt="logo">
                                        </a>
                                    </div>
                                    <div class="card-sigin">
                                        <div class="main-signup-header">
                                            <h3>Lobber</h3>
                                            <h6 class="fw-medium mb-4 fs-17">Identifique-se para acessar</h6>
                                            <form method="post">
                                                <div class="form-group mb-3">
                                                    <label class="form-label">E-mail</label> 
                                                    <input class="form-control" placeholder="Digite seu email" type="text" id="email" name="Email">
                                                </div>
                                                <div class="form-group mb-3">
                                                    <label class="form-label">Senha</label>
                                                    <input class="form-control" placeholder="Digite sua senha" id="senha" name="Senha" type="password">
                                                </div>
                                                <button class="btn btn-primary btn-block w-100" type="submit">Acessar</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/js/show-password.js"></script>

</body>

</html>